:root{
    --cor-de-fundo: #e9f1f2;
   --cor-de-link: #000;
   --color-div-alterno : #f2eae9;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;

    position: absolute;
    width: 98%;

    left: 30px;
    top: 0px;
}

ol, ul,li {
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/********************************************/
/*Sección Menu*/
/********************************************/
section.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 45px;    
    width: 97%;
    padding: 1em 1em 1em 1em;  
 
    /* Inside auto layout */   
    flex: none;
    order: 0;
    flex-grow: 0;
    
    background: rgb(34,193,195);
    background: -moz-linear-gradient(280deg, rgba(34,193,195,1) 1%, rgba(184,229,230,1) 82%, rgba(233,241,242,1) 94%, rgba(239,243,243,1) 97%, rgba(245,245,245,1) 100%);
    background: -webkit-linear-gradient(280deg, rgba(34,193,195,1) 1%, rgba(184,229,230,1) 82%, rgba(233,241,242,1) 94%, rgba(239,243,243,1) 97%, rgba(245,245,245,1) 100%);
    background: linear-gradient(280deg, rgba(34,193,195,1) 1%, rgba(184,229,230,1) 82%, rgba(233,241,242,1) 94%, rgba(239,243,243,1) 97%, rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#f5f5f5",GradientType=1);
} 

.menu__header{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 160px;
    height: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu__title{
    width: 160px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;

    flex: none;
    order: 1;
    flex-grow: 0;
}
.menu__list{
    /* Links */
/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

width: 680px;
height: 19px;

flex: none;
order: 1;
flex-grow: 0
}


/********************************************/
/*Sección Title*/
/********************************************/
section.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;    
    width: 97%;
    padding: 0 0 0 64px;
    /* Inside auto layout */   
    flex: none;
    order: 1;
    flex-grow: 0;
}

.title__profile{
    border-radius: 50%;
    width: 280px;
    height: 300px;
    
    background: url(.jpg);
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.title__bio{    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 61px;    

    /* Preto/100% */

    color: #464646;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.title__subsection{
    width: 100%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    /* Preto/100% */

    color: #464646;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.title__network{
    display: flex;
    flex-direction: row;
    width: 400px;  
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.title__network__item{
    font-size: 18px;
}

.title__network__item:hover {
    background: whitesmoke; 
    margin-left: 5px;
    font-size: 23px;
    border: 4px;
    transition: 1s;
}

.title__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 80%;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.title__div{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    padding-left: 0px;
    gap: 40px;
    width: 80%;
    height: 450px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


/**********************************/
/*Sección About*/
/**********************************/

section.about{
    background-color: var(--color-div-alterno) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 64px;
    gap: 10px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.about__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 61px;    

    /* Preto/100% */

    color: #464646;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}


.about__paragraph{
    width: 70%;
    font-size: 18px;
    line-height: 28px;   
}

.about__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
}


.sobremi__firma{
    border-radius: 5%;
    width: 182px;
    height: 177px;
    background: url(.jpg);
    display: none;
    /* Inside auto layout */
}


/**************************************************************/
/*****************skills***************************************(
/************************************************************/
section.skills, section.hobbies{     
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;


    padding:30px 0 0 0 ;
    gap: 32px;
    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.skills__title, .hobbies__title{
    height: 60px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 61px;       
    /* Preto/100% */
    color: #464646;
    
    margin-top: 0px;
    margin-bottom: 0px;
}

.skills__line, .hobbies__line{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 0 0 30px 64px;
    gap: 16px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    flex-wrap: wrap;
    width: 80%;
}

.skills__box, .hobbies__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;

    height: 80px;
    width: 80px;

    background: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.skills__img, .hobbies__img{
    padding-left: 30px;
    padding-bottom: 5px;
}

.skills__name .hobbies__name{
    padding-left: 10px;
    width: 100px;
}

/******************************************************/
/*Sección Hobbies*/
/******************************************************/
.hobbies_color{
    background-color: var(--color-div-alterno) ;
}


/********************************************************************/
/* Experiencia Académica*/
/********************************************************************/
section.academic{

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px 0 0 0 ;
    gap: 32px;
    /* Inside auto layout */

    flex: none;
    order: 5;
    flex-grow: 0;
    justify-content: flex-start;
}

.academic__title{
    height: 60px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 61px;    
    
    /* Preto/100% */
    color: #464646;
    
    margin-top: 0px;
    margin-bottom: 0px;
}

.img_formacion{
    width: 150px;
    height: 150px;
    
    background: url(.jpg);
    /* Inside auto layout */
}

.academic__courses{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 30px 64px;
    gap: 16px 25px;

    width: 100%        ;
    height: auto;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    flex-wrap: wrap;
}

.academic__courses__item__img{
/* Auto layout */
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 250px;
    background: #FFFFFF;

        /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.academic__courses__item__title{
    /* Análisis de datos */
    width: 290px;
    height: 26px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-top: 10px;
    /* identical to box height */
    color: #464646;
        /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
.academic__courses__item__subtitle{
    width: 290px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 10px;
    /* identical to box height */

    color: #464646;
    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.academic__courses__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    width: 300px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

/***********************************************************************/
/* experiencia*/
/***************************************************************************/

section.experience{
    background-color: var(--color-div-alterno) ;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px 0 45px 0 ;
    gap: 32px;
    /* Inside auto layout */

    flex: none;
    order: 6;
    flex-grow: 0;
}

.experience__section__title{
    height: 60px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 61px;    
    
    /* Preto/100% */
    color: #464646;
    
    margin-top: 0px;
    margin-bottom: 0px;
}

.experience_list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.experiencie__box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.experience__img
{ 
    border-radius: 5%;
    width: 600px;
    height: 430px;

    /* Inside auto layout */

    flex: none;
    align-self: stretch;
    flex-grow: 0;
    }

/*order: 0; order: 1;*/

.encriptador_img{
    order: 0; 
}
.encriptador_info{
    order: 1; 
}

.ahorcado_img{
    order: 1; 
}
.ahorcado__info{
    order: 0; 
}

.experience__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 368px;
    /* Inside auto layout */

    flex: none;
    flex-grow: 1;
}

.experience__title{   
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* Preto/100% */

    color: #464646;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.experience__text{
        /* Challenge Alura Codificador */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    /* Preto/100% */

    color: #464646;
    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.experience__description{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;

    width: 560px;
    height: 51px;
    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.experience__repo{
    /* Texto */
    height: 19px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    /* Azul/100% */

    color: #2A7AE4;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.experiencia__botao--repo{
        /* Botao */
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    width: 116px;
    height: 51px;

    /* Azul/100% */

    color: #2A7AE4;
    border: 1px solid #2A7AE4;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.experiencia__botao--repo:hover {  
    font-size: 16px;
    transition: 1s;
    height: 55px;
    background: #2A7AE4; 
    color: whitesmoke;
}

.experience__demo{
        /* Texto */
    width: 73px;
    height: 19px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    /* Preto/branco */

    color: #FFFFFF;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.experience__botao--demo{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    width: 105px;
    height: 51px;

    /* Azul/100% */

    background: #2A7AE4;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.experience__botao--demo:hover {
    background: whitesmoke; 
    color: #2A7AE4;
    font-size: 16px;
    transition: 1s;
    height: 55px;
}


/***************************************************************/
/*Contacto*/
/****************************************************************/
section.formcontato{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px 0 20px 0 ;
    gap: 32px;
    /* Inside auto layout */

    flex: none;
    order: 7;
    flex-grow: 0;
    justify-content: flex-start;
}

.formcontato__contacto{
    /* Contato */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    gap: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;    
}


.formcontato__img{
    border-radius: 20%;
    width: 464px;
    height: 593px;
    background: url(.jpg), #EDEDED;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.contacto__section__title{
    height: 60px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 61px;    
    
    /* Preto/100% */
    color: #464646;
    
    margin-top: 0px;
    margin-bottom: 0px;
}
.formcontato__text{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.formcontato__subtext{
    width: 80%;    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    
    /* Preto/100% */
    
    color: #464646;    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.formcontato__form{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.formcontato__input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    font-size: 20px;
    padding-left: 20px;
    width: 656px;
    height: 56px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.formcontato__input::placeholder, .formcontato__textarea::placeholder{
    width: 180px;
    height: 60px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;

    /* Preto/100% */
    color: #464646;
    padding-left: 20px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.formcontato__textarea{
    /* Caixa */
    width: 675px;
    height: 140px;

    /* Preto/branco */

    background: #FFFFFF;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.formcontato__botao{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    color: white;

    width: 144px;
    height: 51px;

    /* Azul/100% */

    background: #2A7AE4;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.formcontato__botao:hover {
    background: whitesmoke; 
    color: #2A7AE4;
    font-size: 16px;
    transition: 1s;
    height: 55px;
    width: 150px;
}


  
/***************************************************************/
/*footeer*/
/***************************************************************/

section.footer{
        /* Rodapé */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 10px;
    width: 100%;
    height: 20px;

    /* Preto/branco */

    background: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer_ano{
    padding-left: 100px;
}

/***********************************************************/
/*Mobile*/
/***********************************************************/
@media only screen and (max-width: 425px) {
    body {    
        left: 10px;
        width: 94%;
    }
    /*Menu*/
    section.menu{
        display: flex;
        flex-direction: row;

        align-items: flex-start;
        gap: 0px;    
        width: 97%;
        padding: 1em 1em 1em 0;    
    } 

    .menu__title{
        width: 180px;
        height: 13px;
        font-size: 13px;
        padding: 0px; 
    }
    .menu__list{   
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        align-content: center;
        justify-content: flex-end;
        padding: 0px;
        gap: 10px;
        font-size: 14px;
        height: 130px;
    }

    .menu__header{
        align-items: flex-start;
    }

    /*Titulo*/
       section.title {
        align-items: flex-start;
        height: 640px;
        padding: 0;
    }

    .title__div{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .title__profile{
        padding-top: 10px;
        width: 150px;
        height: 170px;
        order: 0;
    }

    .title__bio{    
        font-weight: 700;
        font-size: 23px;
        line-height: 35px;  
        padding: 0;  
    }

    .title__container{
        gap: 30px;   
        width: 100%;
    }

    .title__subsection{
        width: 100%;
        font-size: 20px;
        line-height: 26px;
        }

    /*Sección sobre mi*/
    section.about{
        padding: 0 0 30px 0;
    }
    
    .about__paragraph{
        width: 85%;
        font-size: 18px;
        line-height: 28px;   
    }

    .about__title {
        font-size: 30px;
        line-height: 61px;  
      }

      .about__container{
        flex-direction: column;
        padding: 0;
    }

    .sobremi__firma{
        padding-top: 20px;
        width: 100px;
        height: 95px;
    }    
    /*Skills*/ /*Hobbies*/
    section.skills, section.hobbies{   
        padding: 0 0 30px 0;
    }
    
    .skills__line, .hobbies__line{
        padding: 0 0 30px 40px;
    }
    .skills__title, .hobbies__title{
        font-size: 30px;
        line-height: 61px;  
      }
     
    /*Formación Académica*/
    section.academic {
        padding: 20px 0 10px 15px ;
    }
    .academic__title {
        font-size: 30px;
        line-height: 61px;  
      }

      .academic__courses{   
        padding: 15px 0 30px 15px;
    }

    /*Experiencia Profesional*/
    section.experience {
        padding: 0 0 20px 0 ;
    }
    .experience__section__title{
        font-size: 30px;
        line-height: 61px;  
    }

    .experiencie__box{
        flex-direction: column;
        }

    .experience_list{
            padding: 0 0 5px 20px;
    }

    .experience__info{
        width: 310px;
    }

    .experience__img {
        width: 300px;
        height: 190px;
    }

    .encriptador_img{
        order: 0; 
    }
    .encriptador_info{
        order: 1; 
    }

    .ahorcado_img{
        order: 0; 
    }
    .ahorcado__info{
        order: 1; 
    }
     /*Contacto*/
     section.formcontato{
        padding: 0 0 40px 0 ;
     }
    .contacto__section__title{
        font-size: 30px;
        line-height: 61px;  
      }

    .formcontato__img{
        display: none;
      }

    .formcontato__input{
        font-size: 18px;
        padding-left: 10px;
        width: 250px;
        height: 40px;
        }
    
    .formcontato__textarea{
        width: 260px;
        height: 100px;
    }
    .formcontato__input::placeholder, .formcontato__textarea::placeholder{
        padding-left: 10px;
    }
    /*Footer*/
    
    section.footer{
        padding: 20px 0 20px 0 ;
    }

    .footer_ano{
        padding-left: 100px;
    }   
    .formcontato__subtext{
        width: 40%;    
    }
  }

